<div class="nav" [ngClass]="{ nav__black: navShow }">
  <img
    routerLink=""
    class="nav__logo"
    src="https://www.freepnglogos.com/uploads/red-netflix-logo-text-png-3.png"
    alt="Netflix Logo"
  />
  <div>
    <div>
      <div class="dropdown">
        <span
          ><img
            class="nav__avatar"
            src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png"
            alt="Avatar"
        /></span>
        <div class="dropdown-content">
          <p>Hello World!</p>
          <button class="" routerLink="/info-user">Information </button>
          <button class="" routerLink="/admin">Admin Panel</button>
        </div>
      </div>
    </div>
  </div>
</div>
