<div class="nav" [ngClass]="{ nav__black: navShow }">
  <img
    class="nav__logo"
    src="https://www.freepnglogos.com/uploads/red-netflix-logo-text-png-3.png"
    alt="Netflix Logo"
  />
  <div>
    <div>
      <div class="dropdown">
        <span
          ><img
            class="nav__avatar"
            src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png"
            alt="Avatar"
        /></span>
        <div class="dropdown-content">
          <button mat-raised-button class="button" routerLink="/profil">
            Profil
          </button>
          <button
            mat-raised-button
            *ngIf="admin.isAdmin"
            class="button"
            routerLink="/admin"
          >
            Admin Panel
          </button>
          <button mat-raised-button class="button" (click)="auth.logout()">
            LogOut
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
