<div class="row" [ngClass]="{ 'row--reverse': reverse }">
  <div class="col">
    <h1>Watch Netflix on your TV.</h1>
    <h3>
      Watch Netflix on your TV.
      Watch Netflix on Smart TV, PlayStation, Xbox, Chromecast, Apple TV and many other devices.</h3>
  </div>
  <div class="col">
    <!-- *ngIf="video" -->
    <video src="/assets/video-tv-0819.m4v" accesskey="none" autoplay></video>
    <!-- *ngIf="image"  -->
    <!--  <img [src]="'/assets/mobile-0819.jpg'" alt="Image" /> -->
  </div>
</div>
