/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'MyWebFont';
}

@font-face {
  font-family: 'MyWebFont';
  src:  url('myfont.woff2') format('woff2'),
        url('myfont.woff') format('woff');
}


