<div class="rows">
  <div class="row__one">
    <img class="row__logo" src="https://www.freepnglogos.com/uploads/red-netflix-logo-text-png-3.png"
      alt="Netflix Logo" />
    <button (click)="this.router.navigate(['Login']);" class="row__connexion">Sing In</button>
    <div class="row__one-text">
      <h1>Unlimited movies, TV shows and more.</h1>
      <h2>Watch anywhere. Cancel anytime.</h2>
      <h3>
        Ready to watch? Enter your email to create or restart your membership.
      </h3>
      <input type="email" name="email" id="email" placeholder="Email adress" />
      <button routerLink="feed">Get Started</button>
      <p class="fade">Click start to see the next page</p>
    </div>
    <div class="row__one-background--shadow"></div>

  </div>

  <div class="row">
    <div class="col">
      <h1>
        Enjoy on your TV.    </h1>
      <h3>
        Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/mobile.jpg" width="300" />
    </div>
  </div>

  <div class="row row--reverse">
    <div class="col">
      <h1>Download your shows to watch offline.</h1>
      <h3>
        Save your favorites easily and always have something to watch.
      </h3>
    </div>
    <div class="col">
      <video src="/assets/video-tv-0819.m4v" accesskey="none" autoplay></video>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1>Watch everywhere.</h1>
      <h3>
        Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/boxshot.png" />
    </div>
  </div>

  <div class="row row--reverse">
    <div class="col">
      <h1>Create profiles for kids.</h1>
      <h3 style="margin-top: 100px;">
        Send kids on adventures with their favorite characters in a space made just for them—free with your membership.
      </h3>
    </div>
    <div class="col">
      <img src="/assets/Kids.png" />
    </div>
  </div>

<div class="row">
  <app-accordion-component></app-accordion-component>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
  </div>
</div>
<div class="row">
  <div id="tab-3-content" class="tab-content-item">
<footer>
        <p>Questions? Contact us.</p>
        <div class="links">
          <ul>
            <li>FAQ</li>
            <li>Help Center</li>
            <li>Account</li>
            <li>Media Center</li>
            <li>Investor Relations</li>
            <li>Jobs</li>
            <li>Ways to Watch</li>
            <li>Terms of Use</li>
            <li>Privacy</li>
            <li>Cookie Preferences</li>
            <li>Corporate Information</li>
            <li>Contact Us</li>
            <li>Speed Test</li>
            <li>Legal Notices</li>
            <li>Netflix Originals</li>
          </ul>
          <div class="language" id="language-btn">
            <i class="fas fa-globe"></i> English
            <i class="fas fa-sort-down lg"></i>
            <div class="dropdown-list">
              <ul class="" id="language-dropdown">
                <li>中文</li>
                <li>English</li>
              </ul>
            </div>
          </div>
          <p>Faqja E Filmave</p>
        </div>
      </footer>
</div>
</div>

